body {
	margin: 0;
	padding: 0;
}

.banner {
	background: #f1f1f1;
	height: 250px;
}

.story {
	margin: 1.5rem;
}

.home {
	text-align: center;
}

.home img{
	max-width: 100%;
	min-width: 33%;
}

h1 {
	font-family: 'Tauri', sans-serif;
	margin: auto;
	text-align: center;
	margin-top: 2rem;
}

h2 {
	font-family: 'Average Sans', sans-serif;
	text-align: left;
	margin-top: 2em;
}

h3 {
	font-family: 'Average Sans', sans-serif;
	text-align: center;
}

p {
	font-family: 'Average Sans', sans-serif;
	font-size: 1.5em;
	min-width: 33%;
	max-width: 100%;
}